// These values should be preferably over-written by the theme config setting
$border-radius         : 2px !default;
$border-radius-rounded : 50% !default;

$env-width             : 90% !default;
$env-width-max         : 1140px !default;